aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
colorama==0.4.6
frozenlist==1.4.0
h11==0.14.0
idna==3.4
multidict==6.0.4
numpy==1.26.0
openai==0.28.1
outcome==1.2.0
packaging==23.1
pandas==2.1.1
pefile==2023.2.7
Pillow==10.0.1
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
selenium==4.4.3
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
ttkthemes==3.2.2
tzdata==2023.3
urllib3==1.26.16
webdriver-manager==4.0.1
wsproto==1.2.0
yarl==1.9.2
